<style >
div.container {
    width: 100%;
    border: 1px solid gray;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: white;
    background-color: black;
    clear: left;
    text-align: left;
}

footer, textarea {
    padding: 5px;
    color: white;
    background-color: black;
    clear: left;
    text-align: left;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul a {
            text-decoration: none;
        }

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
    font-family: "Sentinel A","Sentinel B",Georgia,serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background: #4383c5;
    color: #FFF;
    padding: 6px 20px 7px;
    font-size: 18px;
    line-height: 23px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid 4383c5;
    cursor: pointer;
    font-weight: 600px;
    transition: opacity 0.1s ease-out,background 0.1s ease-out;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
    -webkit-transition: opacity 0.1s ease-out,background 0.1s ease-out;
}


    .btn:hover {
        background-color: #356fac;
    }

div.Contact {
    line-height: 10%;
}

.Filtre {
    font-size: 20px;
    line-height: 10%;
}

p.Recommended {
    font-family: Georgia,serif;
    font-size: 30px;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 170px;
    margin-left: 450px;
    color: blue;
    display : none;
}

p.Genres, h1.RecommendedLink {
    font-family: Georgia,serif;
    font-size: 20px;
    width: 60%;
    color: blue;
}


#Author, #Publisher, #Price {
    display: inline-block;
    text-align: center;
    line-height: 10%;
}

.left {
    float: left;
    width: 300px;
    padding: 10px;
}

form.campuri {
    float: center;
}

#logo {
    float: left;
}

#header-middle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#header-right, #user_logged {
    float: right;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

#signupbutton, #campuri, #loginbutton, #ShoppingCart{
    display: inline-block;
}
.hide{
    display :none;
}
#logoutbutton, #shop_and_wish{
    display: inline-block;
}
</style >
